.outerScroller
    top: 0px
    botton: 0px
    right: 0px
    left: 0px
    height: 3000px
    width: 5999px
    overflow: scroll

.tableWrapper
    position: absolute
    margin-top: 55%
    margin-left: 175%
    width: 1200px
    min-height: 700px
    z-index: -2

.tableBlock
    background-color: white
    min-height: 800px
