.modalContainer
    height: 550px
    width: 450px
    top: 0%!important
    bottom: 0%!important
    right: 0%!important
    left: 0%!important
    margin: auto
    background-color: white
    text-align: center
    color: black
    font-family: sans-serif
    
    .modalBody
        background-color: white
        height: 100%
        width: 100%
        outline: none

.modalButton
    width: 80%
    height: 48px
    border: 3px solid black
    border-radius: 5px
    margin-top: 8px
    margin-bottom: 16px
    &:focus-within
        border-color: blue
